.list{
    text-align: center;
    width: 40%;
    min-width: 350px;
    margin: 0px auto;    
}

.kidslistitem{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: black;
}

.kidslistblock{
    cursor: pointer;
    background-color: white;
    border:  1px solid transparent;
    width: 70%;
    min-width: 200px;
    margin: 25 auto;
    padding-bottom: 25;
    padding-top: 25;
    text-align:center;
    box-shadow: 5px 5px 20px grey;

}

.kidslistblock:hover{
    background-color: #4285F4;
}

.kidslistblock:hover .kidslistitem{
    color: white;
}

.kidinfo {
    border-radius: 40px;
   display: none;
   padding: 5px;
   margin: 0 auto;
   height: 20%;
   font-size: 15px;
   line-height: 1.428571429;
   width: 80%;
   max-width: 210px;
   background-color: #ffA1DD;
}

.btn.glyphicon {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}
.btn.glyphicon::first-letter {
    font-family: 'Glyphicons Halflings';
    line-height: 1;
}

.btn-primary{
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.kidsCard{
        background-color: white;
        border:  1px solid transparent;
        width: 45%;
        min-width: 350px;
        margin: 25 auto;
        padding-bottom: 25;
        padding-top: 25;
        padding: 25;
        text-align: center;
        box-shadow: 5px 5px 20px grey;
    }

#Photo
{
    position: relative;
    width: 202px;
    height: 202px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 25px;

}

.thumb{
    position: relative;
         width: 100px;
         height: 100px;
         overflow: hidden;
         margin: 0 auto;
         /*border: 1px solid black;*/
    margin-bottom: 20px;

}

.left{
    margin: 0 auto;
    text-align: center;
}

#picture{
position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}

.col-md-8{
    min-height: 202px;
}

hr{
    width: 300px;
}

#icon-png{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.start-page {
    margin-top: 25%;
    width: 100%;
    top: 50%;
    left: 50%;
}

#radius {
    background-color: #2196f3;
    border-radius: 5px;
}

h2{
    margin-top: 0;
}

.add-kid-button {
    margin-top: 33px;
    margin-bottom: 17px;
}